name: Build Android
run-name: Build Android
on:
  workflow_dispatch: {}
jobs:
  Build_Android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          architecture: x64
      - run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev webkit2gtk-4.1
      - run: flutter build apk --debug
      - uses: actions/upload-artifact@v4
        with:
          name: app-android
          path: build/app/outputs/flutter-apk
